.flex {
  display: flex;
}

.header {
  border: 3px solid green;
  justify-content: space-between;
  height: 15vh;
}

.stageRight {
  border: 3px solid yellow;
  list-style: none;
  width: 30%;
  justify-content: space-between;
  align-items: flex-end;
}

.stageLeft {
  border: 3px solid red;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  border: 3px solid blue;
  margin: 17px;
}

.cards {
  border: 3px solid black;
  margin: 2px;
  width: 23vw;
  height: 50vh;
  flex-direction: column;
}


h1 {
  height: 10vh;
}

.allCards-top, .allCards-bottom {
  flex-direction: row;
  justify-content: space-evenly;
}

.cards.image {
  align-items: center;
}


