* {
  font-size: 62.5%;
}

main {
  background-color: gainsboro;
}

.flex {
  display: flex;
}

.header {
  /* border: 3px solid green; */
  justify-content: space-between;
  height: 15vh;
  background-color: rgb(52, 83, 102);
  color: white;
  font-size: 3rem;
}

.stageRight {
  list-style: none;
  width: 30%;
  justify-content: space-between;
  align-items: flex-end;
}

.stageLeft {
  /* border: 3px solid red; */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 15vw;
}

.title {
  /* border: 3px solid blue; */
  margin: 17px;
  font-size: 3rem;
  display: flex;
  align-items: flex-end;
}

.cards {
  /* border: 3px solid black; */
  margin: 6px;
  width: 23vw;
  height: fit-content;
  flex-direction: column;
  font-size: 2.25rem;
  background-color: whitesmoke;
  box-shadow: 1px 1px 3px blue;
}

.background {
  background-image: url('https://cdn.pixabay.com/photo/2017/05/12/08/29/coffee-2306471__480.jpg');
  height: 20vh;
  background-position-y: -9vh;
  background-position-x: -3vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 2.3rem;
}

h1 {
  height: 10vh;
}

p, h3, h4, h5, h6 {
  height: 0vh;
  margin-left: 15px;
}

.allCards-top, .allCards-bottom {
  flex-direction: row;
  justify-content: space-evenly;
}

.cards.image {
  align-items: center;
  height: 228px;
}

.logo {
  height: 10vh;
  background-color: rgb(52, 83, 102)
}

a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

p.number {
  font-size: 3rem;
  font-weight: bold;
  height: 0vh;
  margin-top: 0px;
}

.link {
  background-color: gray;
  width: 20vw;
  height: 3vh;
  text-align: center;
  margin-top: 8px;
}

div.link {
  align-items: center;
  align-self: center;
}

label {
  font-size: 1.5rem;
}

.icons {
  height: 2vh;
  width: 2vw;
}

.menu {
  justify-content: space-between;
  width: 12vw;
}

.distance {
  margin-left:15px;
}